@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply px-3 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

.btn-cta {
  @apply bg-cyan-500 py-2 px-4 text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.8;
}

.max-width2 {
  @apply max-w-6xl mx-auto;
}

.articles {
  @apply bg-stone-900 p-5 rounded-lg shadow shadow-zinc-800 text-white text-sm;
}

.heading {
  @apply text-black font-bold text-4xl md:text-5xl xl:text-6xl;
}
